{% extends "projectidea/home.html" %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ user.username }} idea space</title>
</head>
<body>
    {% block content %}
    <h1>Love It</h1>
    {% for idea in ideas %}
    <div class="card">
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url "idea_edit" pk=idea.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url "idea_remove" pk=idea.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% else %}
        <a href="{% url "django.contrib.auth.views.login" %}">Sign In</a>
        {% endif %}
        <h1>{{ idea.title }}</h1></a>
        <p>idea: {{ idea.idea }}</p>
        <p>created at: {{ idea.created_at }}</p>
        <p>Made By: {{ user.username }}</p>
        <p>Category: {{ idea.category }}</p>
        <p>Sentiment: {{ idea.sentiment }}</p>
    </div>
    {% endfor %}
    {% endblock content %}
</body>
</html>